* {
	box-sizing: border-box;
}
body {
	font-size: 20px;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
}

header {
	background-color: transparent;
	position: center;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	position: relative;
	border-bottom: 2px solid grey;

	.backdrop {
		z-index: -1;
		position: fixed;
		top: -50%; 
		left: -100%; 
		width: 200%; 
		height: 150%;
		background-image: url('../../public/images/martin_miranda.jpg');
		background-size: cover;
	}
	
	.navigation {
		width: 100%;
		background-color: rgba(255,255,255,0.5);
		height: 40px;
		box-shadow: 0 10px 10px rgba(255,255,255,0.3);

		nav {
			width: 60%;
			position: absolute;
			right: 0;
			display: flex;
			flex-flow: row;
			justify-content: space-around;
			margin-top: 10px;
			margin-right: 10px;


			a {
				text-decoration: none;
				font-size: 1em;
				color: white;
				text-shadow: 1px 1px grey;
				transition: color .2s;
				moz-transition: color .2s;
				&:hover {
					color: green;
				}
			}
		}
	}
}

.name {
	display: flex;
	flex-flow: column;
	width: 100%;
	margin-top: -10px;
	h1 {
		margin: 5%;
		font-size: 4em;
		color: white;
		text-shadow: 2px 2px black;

		.firstname {
			width: 50%;
			float: left;

		}

		.lastname {
			width: 50%;
			float: right;
		}
	}
}