<!doctype html>
<html>
<head>
	<title>Main</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles.css" media='screen'>
</head>
<body>
	<header>
		<div class='backdrop'>
		</div>
		<div class='navigation'>
			<nav>
				<a id='about' href='#'>About</a>
				<a id='resume' href='#'>Resume</a>
				<a id='gallery' href='#'>Gallery</a>
				<a id='blog' href='#'>Blog</a>
				<a id='contact' href='#'>Contact</a>
			</nav>
		</div>
		<div class='name'>
			<a id='name-link' href='#'><h1><div class='firstname'>Michelle<div><div class='lastname'>SoAndSo</div></h1></a>
		</div>
	</header>
	<div class='container'>
		{{{body}}}
	</div>
	<script type="text/javascript" src='bundle.js'></script>
</body>
</html>