<!doctype html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<div class='backdrop'>
		</div>
		<div class='navigation'>
			<nav>
				<a href='#'>About</a>
				<a href='#'>Resume</a>
				<a href='#'>Gallery</a>
				<a href='#'>Blog</a>
				<a href='#'>Contact</a>
			</nav>
		</div>
	</header>
	<div class='container'>
		{{{body}}}
	</div>
</body>
</html>